.App {
  /* text-align: center; */
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

#wallet-widget .circle-icon {
  width: 10px;
  margin-right: 8px;
}

#wallet-widget .circle-icon.ok {
  fill: hsl(141, 71%, 48%);
}

#wallet-widget .circle-icon.fail {
  fill: hsl(348, 100%, 61%);
}

#wallet-widget .circle-icon.warn {
  fill: hsl(48, 100%, 67%);
}
/*
#wallet-widget .address {
  display: inline-block;
  white-space: nowrap;
}
*/

/*
.btn-box {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    background: transparent;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

*/
.toast-header .btn-box {
    margin-right: -.375rem;
    margin-left: .75rem;
}


.App-header {
  /*
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  /*font-size: calc(10px + 2vmin);*/
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.flexCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}
